/* awal banner */

.warnatulisan {
  color: #0033a0;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 40px;
}
.back {
  background: -webkit-linear-gradient(
    90deg,
    hsla(252, 40%, 29%, 1) 0%,
    hsla(270, 77%, 71%, 1) 100%
  );
}

.warn1 {
  border-bottom: 2.5px solid white;
  padding: 10px;
}
.warn2 {
  border-bottom: 2.5px solid white;
  padding: 10px;
}
.warn3 {
  border-bottom: 2.5px solid white;
  padding: 10px;
}
.warn4 {
  border-bottom: 2.5px solid white;
  padding: 10px;
}
.text1 {
  color: white;
  line-height: 20px;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
}
.kampus {
  color: white;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
  font-size: 12px;
}
.tanggal {
  color: #ccc;
  margin-top: 65px;
  margin-left: 35px;
  padding: 5px;
  font-size: 12px;
}

.text2 {
  color: white;
  line-height: 20px;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
}
.kampus2 {
  color: white;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
  font-size: 12px;
}
.tanggal2 {
  color: #ccc;
  margin-top: 15px;
  margin-left: 35px;
  padding: 5px;
  font-size: 12px;
}
.readmore2 {
  color: #ccc;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 10px;
  height: 100px;
}
.text3 {
  color: white;
  line-height: 20px;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
}
.kampus3 {
  color: white;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
  font-size: 12px;
}
.tanggal3 {
  color: #ccc;
  margin-top: -1px;
  margin-left: 35px;
  padding: 5px;
  font-size: 12px;
}

.text4 {
  color: white;
  line-height: 20px;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
}
.kampus4 {
  color: white;
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
  font-size: 12px;
}
.tanggal4 {
  color: #ccc;
  margin-top: 20px;
  margin-left: 35px;
  padding: 5px;
  font-size: 12px;
}

/* akhir banner */

/* List CSS */
.mb-1 {
  margin-bottom: 1rem !important;
}
.lh-40 {
  line-height: 40px;
}
.font-30 {
  font-size: 30px !important;
}
.set-section {
  padding: 30px 0px;
}
.mt-3 {
  margin-top: 1rem !important;
}
.set-margin7 {
  margin-left: -7px;
  margin-right: -7px;
}
.flex-center {
  display: flex !important;
  justify-content: center !important;
}
.lh-30 {
  line-height: 30px;
}
.bold {
  font-weight: bold;
}

.font-24 {
  font-size: 24px;
}
.font-core {
  list-style: none;
  color: #0033a0 !important;
  margin-top: 20px;
}

.text-dec{
  text-decoration: none;
  color: blueviolet;
}
.font-18 {
  font-size: 18px !important;
}

ul {
  list-style-type: disc;
}

.set-margin {
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 200px;
}

.tablle-core {
  color: #0033a0;
}
.bg-core {
  background-color: #0033a0;
  border-radius: 200px;
  border-color: black;
}

.set-padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 200px;
}
.pd-10f {
  padding: 5px 10px;
}

.fw500 {
  font-weight: 500;
}

.putih {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px;
  align-items: center;
  grid-gap: 30px;
}



/* start contact us */
.container-contact-us {
    max-width: 400px;
    margin: 6em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
/* end contact us */
